################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EBooks/EBooks.Web/Book/Pictures/500g9h.jpg
