<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
        <deny users="?" />
    </authorization>
  </system.web>
  <location path="Create.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Edit.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Delete.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>